// shape colors

$teal: rgba(90, 250, 199, .70);
$sage: rgba(167, 172, 112, .90);
$mustard: rgba(226, 180, 86, .90);
$coral: rgba(255, 202, 202, .70);
$purple: rgba(92, 53, 109, .90);
$burgundy: rgba(175, 67, 67, .90);
$yellow: rgba(221,225,93,100);
$turquoise: #008B95;
$darkgray: rgb(121,121,121);



// text

h1 {
  font-family: 'Eczar', serif;
  font-size: 3.5em;
  font-weight: lighter;
  color: $turquoise;
}
h3, p {
  font-family: 'Eczar', serif;
  font-size: 1em;
  font-weight: lighter;
}

// shapes

.header {
  position: relative;
  z-index: 2;
  max-width: 33%;
}
.rectangle__teal {
  display: inline-block;
  position: relative;
  background-color: $teal;
  z-index: 1;
  width: 9%;
  height: 450px;
  box-shadow: -5px 5px 4px -3px $darkgray;
}
.rectangle__pink {
  display: inline-block;
  position: relative;
  background-color: $coral;
  width: 13%;
  height: 400px;
  margin-top: 200px;
  box-shadow: -5px 5px 4px -3px $darkgray;
}
.circle {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: $burgundy;
  box-shadow: -5px 5px 4px -3px $darkgray;
  height: 200px;
  width: 200px;
  left: 10%;
  top: 500px;
}
.wave {
  position: absolute;
  top: 200px;
  left: 34%;
  height: 50%;
  transform: rotate(20deg);
}
.triangle-wrapper {
  max-width: 33%;
}
.triangle-yellow {
  max-width: 33%;
  height: 0;
  position: absolute;
  z-index: 1;
  border-right: 75px solid transparent;
  border-bottom: 89px solid $yellow;
  border-left: 78px solid transparent;
  box-shadow: 0px 4px 3px -3px $darkgray;
}
.logo {
  position: absolute;
  z-index: 1;
  max-width: 33%;
  left: 8%;
  top: 14px;
}
