$lightpurple: rgba(194,191,232,100);
$lightblue: rgba(210,227,249,100);
$lightyellow: rgba(232,227,228,100);

body {
	background-image: linear-gradient(90deg, $lightpurple, $lightblue 50%, $lightyellow 80%);
}
.container {
	padding: 3em;
}

// logo styling
.header {
  position: relative;
  z-index: 2;
	max-width: 30%;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo-wrapper {
  max-width: 9vh;
	animation: 13s linear 65s infinite load;
}
.logo-triangle {
  max-width: 10vh;
  height: 0;
  position: relative;
  border-right: 50px solid transparent;
  border-bottom: 83px solid $yellow;
  border-left: 55px solid transparent;
  box-shadow: 0px 4px 3px -3px $darkgray;
}
.logo {
  position: absolute;
  z-index: 1;
  max-width: 10vh;
	left: 2%;
}
