$lightpurple: rgba(194,191,232,100);
$lightblue: rgba(210,227,249,100);
$lightyellow: rgba(232,227,228,100);

body {
	background-image: linear-gradient(90deg, $lightpurple, $lightblue 50%, $lightyellow 80%);
}
.container {
	padding: 4em;
}
