.container {
	padding: 4em;
  border-radius: 20px;
	background: papayawhip;
  margin: 2em;
}

.header {
  font-size: 1rem;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: orange;
  font-family: sans-serif;
}
.content {
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
}
